<!-- <p>{{date | date:"fullDate"}}</p>
  <h4>{{user | json}}</h4>
  <h4>{{user | json | uppercase}}</h4>
  <h4>{{user | json | lowercase}}</h4>
  <h4>{{0003.7657654 | number:"1.2-3"}}</h4>
  <h1>{{100 | currency:"INR"}}</h1>
  <h2>{{20 | usdInr:100}}</h2> -->
<div class="">
  <h2 class="">{{title}}</h2>
  <!-- <div class="d-flex justify-content-center">
    <div class="col-6 d-flex align-items-center parent">
      <form>
        <div class="">
          <label for="">Name.</label><br>
          <input type="text" placeholder="Enter your Name..!">
        </div>
        <div class="mt-3">
          <label for="">Roll.No</label><br>
          <input type="number" placeholder="Enter your Roll..!">
        </div>
        <div class="mt-3">
          <label for="">Email.</label><br>
          <input type="email" placeholder="Enter your Email..!">
        </div>
        <div class="mt-3">
          <label for="">Password.</label><br>
          <input type="password" placeholder="Enter your Password..!">
        </div>
        <div class="mt-3">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div> -->
  <app-sig-up></app-sig-up>
</div>