.parent {
    height: 95vh;
    background: rebeccapurple;
}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}
input{
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
}
input.ng-touched.ng-invalid {
    border: 2px solid red;
}

h6,
label {
    color: #fff;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.data-container {
    overflow: auto;
    height: 85vh;
}

::-webkit-scrollbar {
    width: 5px;
    margin-top: 5px;
}

::-webkit-scrollbar-track {
    background: #f4ebebbd;
}

::-webkit-scrollbar-thumb {
    background: rebeccapurple;
    border-radius: 10px;
}